[submodule "src/react-lazyload"]
	path = src/react-lazyload
	url = https://github.com/xmcp/react-lazyload

[submodule "src/infrastructure"]
	path = src/infrastructure
	url = https://github.com/thuhole/infrastructure
