.balance-popover {
    position: absolute;
    top: 2em;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.balance-value {
    opacity: 0;
    animation: balance-disappear 2s ease-in;
}

@keyframes balance-disappear {
    from {opacity: 1;}
    75% {opacity: 1;}
    to {opacity: 0;}
}