.centered-line {
    overflow: hidden;
    text-align: center;
}

.centered-line::before,
.centered-line::after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.centered-line::before {
    right: 1em;
    margin-left: -50%;
}

.centered-line::after {
    left: 1em;
    margin-right: -50%;
}

.title-line {
    color: #fff;
    margin-top: 1em;
}
.title-line::before,
.title-line::after {
    background-color: #fff;
    box-shadow: 0 1px 1px #000;
}

.bg-img {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.black-outline {
    text-shadow:
        -1px -1px 0 #000,
        0 -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        0 1px 0 #000,
        1px 1px 0 #000;
}

.search-query-highlight {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.easter-egg-dmm-disable {
    cursor: not-allowed;
    user-select: none !important;
}