.centered-line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.centered-line span {
    background:#eee;
    padding:0 10px;
}