.centered-line {
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.centered-line::before,
.centered-line::after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.centered-line::before {
    right: 0.5em;
    margin-left: -50%;
}

.centered-line::after {
    left: 0.5em;
    margin-right: -50%;
}