.control-bar {
    display: flex;
    line-height: 2em;
}

.control-bar .refresh-btn {
    flex: 0 0 100px;
    color: black;
    background-color: rgba(255,255,255,.9);
    border-radius: 5px;
    text-align: center;
}
.control-bar input {
    flex: auto;
    color: black;
    background-color: rgba(255,255,255,.9);
}