body {
    background-size: cover;
    user-select: none;
    background-color: #333;
}

html::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
}

a {
    color: #00c;
}

input, textarea {
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}
input {
    padding: 0 1em;
    line-height: 2em;
}

audio {
    vertical-align: middle;
}

button, .button {
    color: black;
    background-color: rgba(235,235,235,.5);
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    line-height: 2em;
    margin: 0 .5em;
}

button:hover, .button:hover {
    background-color: rgba(255,255,255,.7);
}

button:disabled, .button:disabled {
    background-color: rgba(128,128,128,.5);
}
