body {
    margin: 0;
    padding: 0;
    background-size: cover;
    overflow-x: hidden;
    user-select: none;
    background-color: #124;
}

body::-webkit-scrollbar {
    display: none;
}

body, textarea, pre {
    font-family: 'Segoe UI', '微软雅黑', 'Microsoft YaHei', sans-serif;
}

* {
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-overflow-scrolling: touch;
}

p, pre {
    margin: 0;
}

a {
    text-decoration: none;
    color: #00c;
    cursor: pointer;
}

input, textarea {
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}
input {
    padding: 0 1em;
    line-height: 2em;
}

audio {
    vertical-align: middle;
}

pre {
    white-space: pre-wrap;
}

button, .button {
    color: black;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    line-height: 2em;
    margin: 0 .5em;
}

button:disabled, .button:disabled {
    background-color: rgba(128,128,128,.5);
}

code {
    font-family: Consolas, Courier, monospace;
}