.sidebar-shadow {
    will-change: opacity;
    opacity: 0;
    background-color: black;
    pointer-events: none;
    transition: opacity 150ms ease-out;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
}
.sidebar-on .sidebar-shadow {
    opacity: .3;
    pointer-events: initial;
}
.sidebar-on .sidebar-shadow:active {
    opacity: .5;
    transition: unset;
}

.root-dark-mode .sidebar-on .sidebar-shadow {
    opacity: .5;
}
.root-dark-mode .sidebar-on .sidebar-shadow:active {
    opacity: .3;
}

.sidebar {
    user-select: text;
    position: fixed;
    top: 0;
    height: 100%;
    background-color: rgba(255,255,255,.7);
    overflow-y: auto;
    padding-top: 3em;
    padding-bottom: 1em;
    backdrop-filter: blur(10px);
}

.root-dark-mode .sidebar {
    background-color: hsla(0,0%,5%,.5);
}

.sidebar, .sidebar-title {
    will-change: left;
    left: 100%;
    transition: left 200ms cubic-bezier(0.15, 0.55, 0.55, 1);
    z-index: 21;
    width: calc(100% - 700px);
}
.sidebar-on .sidebar, .sidebar-on .sidebar-title {
    left: 700px;
}

.sidebar-title {
    text-shadow: 0 0 3px white;
    font-weight: bold;
    position: fixed;
    width: 100%;
    top: 0;
    line-height: 3em;
    padding-left: .5em;
    background-color: rgba(255,255,255,.6);
    pointer-events: none;
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
}

.root-dark-mode .sidebar-title {
    background-color: hsla(0,0%,20%,.6);
    color: var(--foreground-dark);
    text-shadow: 0 0 3px black;
}

.sidebar-title a {
    pointer-events: initial;
}

.sidebar, .sidebar-title {
    padding-left: 1em;
    padding-right: 1em;
}

@media screen and (max-width: 1300px) {
    .sidebar, .sidebar-title {
        width: 550px;
    }
    .sidebar, .sidebar-title {
        padding-left: .5em;
        padding-right: .5em;
    }
    .sidebar-on .sidebar, .sidebar-on .sidebar-title {
        left: calc(100% - 550px);
    }
}
@media screen and (max-width: 580px) {
    .sidebar, .sidebar-title {
        width: calc(100% - 27px);
    }
    .sidebar, .sidebar-title {
        padding-left: .25em;
        padding-right: .25em;
    }
    .sidebar-on .sidebar, .sidebar-on .sidebar-title {
        left: 27px;
    }
}

.sidebar-flow-item {
    display: block;
}
.sidebar-flow-item .box {
    width: 100%;
}