.title {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    line-height: 2em;
    font-size: 1.5em;
    background-color: #fff;
    padding: 0 .5em;
    box-shadow: 0 0 25px #999;
    margin-bottom: 1em;
}
.title-links {
    float: right;
    display: inline-block;
    font-size: .7em;
}