.login-form form p {
    margin: 1em 0;
    text-align: center;
}
.login-form button {
    min-width: 100px;
}
.reply-form {
    display: flex;
}
.reply-form textarea {
    resize: vertical;
    flex: 1;
    min-height: 2em;
    height: 4em;
}
.reply-form button {
    flex: 0 0 3em;
}

.post-form-bar {
    line-height: 2em;
    display: flex;
    margin-bottom: .5em;
}
.post-form-bar label {
    flex: 1;
}
.post-form-bar input[type=file] {
    border: 0;
}
@media screen and (max-width: 600px) {
    .post-form-bar input[type=file] {
        width: 150px;
    }
}
.post-form-bar button {
    flex: 0 0 8em;
}
.post-form textarea {
    resize: vertical;
    width: 100%;
    min-height: 5em;
    height: 20em;
}